# Database configuration
DB_URL=jdbc:mysql://localhost:3306/projectmission?createDatabaseIfNotExist=true&serverTimezone=UTC
DB_USERNAME=admin
DB_PASSWORD=admin123

# Mail configuration
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USERNAME=your-brevo-username
MAIL_PASSWORD=your-brevo-smtp-key
MAIL_FROM=thamer.kthiri@esprit.tn

# App URL Configuration
FRONTEND_URL=http://localhost:4200
